@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.test {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

.window {
  width: 480px;
  height: 360px;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.rubik {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.contact-btn-container {
  min-height: 50px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
}

.contact-btn span {
  transition: top 0.35s;
}

.btn-icon {
  transition: scale 0.45s;
}

.contact-btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.2s;
}

.contact-btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transition: 0.2s;

  transform: translateY(-50%);
}

.contact-btn:hover .contact-btn-text-one {
  top: -100%;
}

.contact-btn:hover .contact-btn-text-two {
  top: 50%;
}

.contact-btn:hover .btn-icon {
  scale: 1.1;
}
