@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Kanit", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: theme("colors.base-100");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.secondary");
  border-radius: 2px;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background: theme("colors.base-100");
}

.rubik {
  font-family: "Rubik Mono One", monospace;

  font-style: normal;
}

.contact-btn-container {
  min-height: 50px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
}

.contact-btn span {
  transition: top 0.35s;
}

.btn-icon {
  transition: scale 0.45s;
}

.contact-btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.2s;
}

.contact-btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transition: 0.2s;

  transform: translateY(-50%);
}

.contact-btn:hover .contact-btn-text-one {
  top: -100%;
}

.contact-btn:hover .contact-btn-text-two {
  top: 50%;
}

.contact-btn:hover .btn-icon {
  scale: 1.1;
}
